# Supabase - Get these from your Supabase project settings
NEXT_PUBLIC_SUPABASE_URL=https://vawffhxkwtvxjdgwbbmd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhd2ZmaHhrd3R2eGpkZ3diYm1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNjA5MzAsImV4cCI6MjA5NDkzNjkzMH0.MKCfp9JNF66kGr3jk1oQ_jaS1HJIssVbvthRe-vVzNA